<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Image</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script th:inline="javascript">

var timeOut = 500;
var requestTimeOut = 30 * 1000; // secs multiplied to get milleseconds
var timeStart;

$(document).ready(function() {
	$("#effect").change(function(){
		//Need to encode the perod in filename otherwise we get a HTTP 406 error.
		var effectName = $(this).val();
        var imageName = $("#imagename").val();
		var requestUri = '/effectrequest/' + effectName + '/' + imageName;
	    $.ajax({
	        url: /*[+   [[${hostname}]] + requestUri  +]*/
	    }).then(function(data) {
	            switch(data.status) {
	               case 'submitted':
					   timeStart = new Date();
					   $("#requestidentider").val(data.requestId);
                       $("#requestcreated").val(data.created);
					   var timeNow = new Date();
					   var milliseconds = timeNow.getTime() - timeStart.getTime();
					   var msg = 'Request submitted, ' + milliseconds + ' milliseconds elapsed.';
					   $("#msgbox").text(msg);
					   $( "#save" ).prop( "disabled", true );
					   $( "#effect" ).prop( "disabled", true );
					   $("<div />").css({
					    position: "absolute",
					    width: "100%",
					    height: "100%",
					    left: 0,
					    top: 0,
					    zIndex: 1000000,  // to be on the safe side
					    background: "url(http://j1edit.com/images/icon-loading-animated.gif) no-repeat 50% 50%"
					        }).attr("id","rendering").appendTo($("#imagecontainer").css("position", "relative"));
					    setTimeout("checkRequest();", timeOut);
					    break;
                   case 'failed':
	                    var msg = 'Request failed, please try again.';
	                    $("#msgbox").text(msg);
                       break;
	            }
	    });
	});
});

function resetWaitingUi() {
    $( "#save" ).prop( "disabled", false );
    $( "#effect" ).prop( "disabled", false );
    $( "#rendering" ).remove();	
}

function checkRequest(){
	var requestId = $("#requestidentider").val();
    var requestCreated = $("#requestcreated").val();
	var requestUri = '/effectfetch/' + requestId + '/' + requestCreated;
    $.ajax({
        url: /*[+   [[${hostname}]] + requestUri  +]*/
    }).then(function(data) {
       switch(data.status) {
	       case 'completed':
		       var timeNow = new Date();
		       var milliseconds = timeNow.getTime() - timeStart.getTime();
		       var msg = 'Processing <strong>complete</strong>, ' + milliseconds + ' milliseconds elapsed.';
		       $("#msgbox").html(msg);
	           $("#imagetag").attr("src", data.url);
               $("#imagenew").val(data.url);
               resetWaitingUi();
	           break;
	       case 'notready':
		       var timeNow = new Date();
		       var milliseconds = timeNow.getTime() - timeStart.getTime();
		       var msg = "";
		       if (milliseconds > requestTimeOut) {
		    	   msg = 'Failed to get a reply for request after ' + milliseconds + ' milliseconds.';
		    	   resetWaitingUi();
		       } else {
		           msg = 'Processing continuing, ' + milliseconds + ' milliseconds elapsed.';
	               setTimeout("checkRequest();", timeOut);
		       }
		       $("#msgbox").text(msg);
	           break;
           case 'failed':
               var msg = 'Server side processing failed, please try again.';
               resetWaitingUi();
               break;
	       default:
	    	   alert('Unknown error : ' + data.status);
	           resetWaitingUi();
   	   }
    });	
}


</script>
<body onload="document.form.imagename.focus();">
	<div class="container">
		<div th:replace="fragments/header :: header">...</div>	
		<div class="content">
			<h2>Image Effects</h2>
			<p id="msgbox" class="alert alert-info">Select an effect to apply to the image</p>
			<br/>
			<br/>
			<div class="pull-right">
				<div id="imagecontainer">
					<img id="imagetag" th:alt-title="${imagename}" th:src="${imagesWebPath + '/' + imageref}" />
				</div>
				<div>
					<h2 th:text="${imagename}">image name does here</h2>				
				</div>
			</div>
			<div class="pull-left">
				<form name="form" th:action="@{/image}" action="/image" method="POST">
					<fieldset>
 						<input type="hidden" id="imagename" name="imagename" th:value="${imagename}" value="" />
						<input type="hidden" id="imagenew" name="imagenew" value="" />
						<input type="hidden" id="requestidentider" name="requestid" value="" />
                        <input type="hidden" id="requestcreated" name="requestcreated" value="" />
						Effect :
						<select id="effect" name="effect">
							<option selected="selected" disabled="disabled" >Select</option>
							<option th:each="e : ${effects}" th:text="${e}"></option>
						</select>
					</fieldset>
					<input type="submit" id="save" value="Save" class="btn btn-primary" />
				</form>
			</div>
		</div>
	</div>
</body>
</html>