<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
</head>
<body onload="document.f.username.focus();">
	<div class="container">
		<div th:replace="fragments/header :: header">...</div>	
		<div class="content">
			<h2>Upload Image</h2>
			<p th:if="${imagename}" class="alert-info" th:inline="text">[[${imagename}]] has been uploaded</p>
			<form name="form" th:action="@{/upload}" action="/upload" method="POST" enctype="multipart/form-data">
				<fieldset>
					<input type="text" name="imagename" value="" placeholder="Image Name (no spaces)" />
					<input type="file" name="file"  />
				</fieldset>
				<input type="submit" id="upload" value="Upload" class="btn btn-primary" />
			</form>
		</div>
	</div>
</body>
</html>